.metadata/
*.pyc
Scripts/src/installCheck.mylog
*.project
*.pydevproject
Objectivity/sample/winTest.bat
Scripts/src/paths.txt
CodeJam/data/SampleProblemB.txt
CodeJam/data/SampleProblemC.txt
CodeJam/src/ProblemB.py
CodeJam/src/ProblemC.py
Scripts/src/cvspath.txt
Scripts/data
out*.txt
*.log
*/.idea
hive_vertica_count.json
bff.png
.idea
**/venv
**/venv3
jupyter/venv3
jupyter/.ipynb_checkpoints
*/node_modules
